.subject-blocks-container {
    display: flex;
    max-width: 400px;
    flex-direction: row;
    padding: 12px;
    gap: 24px;
    justify-content: center;
}

.subjects-blocks {
    height: 150px;
    width: 150px;
    background-color: #ffc100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    font-size: 16px;
    padding: 24px;
    gap: 24px;
    justify-content: center;
}

.all-students {
    background-color: #ffc100;
    padding: 12px;
    max-width: 400px;
    margin-top: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
}
