<div class="teacher-intro">
    Welcome Teacher
    <img src="./assets/Mathematics-bro.png" alt="Photo of a Teacher" style="height: 240px; width: 240px;">
    <div>
        This is a sample <strong>PWA</strong> we are building for a Youtube tutorial.
        We are using Angular Material framework for building the UI.
        <ul>
            <li>Click on cards below to see marks.</li>
            <li>Click on All Students button to see all the students and their marks.</li>
            <li>See the magic of PWA when App is offline.</li>
        </ul>
    </div>
</div>  